@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

body{
    background: linear-gradient(rgba(17, 17, 17, 0.8), rgba(20, 20, 20, 1)), url();
    background-position: center center;
    background-size: cover;
    background-position-y: 0px;
    background-repeat: no-repeat;
}



.linha {
    border: none;
    height: 1px; /* Define a espessura da linha */
    background-color: #071330; /* Cor da linha */
    width: 75%; /* Faz a linha ocupar toda a largura */
    margin: 20px auto 20px 10%; /* Topo, Direita, Base, Esquerda */
}
/* header menu */

/* paleta de cores do site #c3ceda  #738fa7 #0c4160 #071330*/

.menu-nav{
    letter-spacing: 0.1rem;
    margin-right: 490px;
    margin: 10px;
}

.menu-header{
    font-size: 1rem;
    color: #c3ceda;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #071330f5;
}

.titulo{
    text-align: left;
    margin-right: 150px;
}

.menu-header a{
    color: #c3ceda;
    text-decoration: none;
    margin-right: 70px;
}

/* foto do site */
.foto-1 {
    width: 25%;
    padding: 50px;
    margin-left: 50rem;
}





/* Conteudo */

/* BOTAO DO WHATSAPP */


@import url('https://fonts.googleapis.com/css?family=Poppins:900i');

.wrapper {
  display: flex;
  justify-content: center;
}

.cta {
    display: flex;
    padding: 10px 45px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    color: white;
    background: #19c403;
    transition: 1s;
    box-shadow: 6px 6px 0 black;
    transform: skewX(-15deg);
}

.cta:focus {
   outline: none; 
}

.cta:hover {
    transition: 0.5s;
    box-shadow: 10px 10px 0 #57f327;
}

.cta span:nth-child(2) {
    transition: 0.5s;
    margin-right: 0px;
}

.cta:hover  span:nth-child(2) {
    transition: 0.5s;
    margin-right: 45px;
}


/* FIM DO BOTAO WHATSAPP */



.servicos{
    align-items: center;
    justify-content: center;
    display: flex;
}




/* PLANOS ONLINE E PRESENCIAL */


.plano-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    color: white;
    padding: 7px; /* Permite que os itens cresÃ§am e encolham */
    margin: 7px;
    border-radius: 10px;
    
}


.planos {
    color: #d2649a;
    padding: 50px;
    margin: 10px;
    border: 1px solid #d14081;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(#d14081);
  }



  .planos-content :hover {
    transform: scale(1.05);
    box-shadow: 0 0 8px #ec98c1;
    transition: 0.1s;
  }

/* responsividade */


.foto-1 {
    width: 100%;  /* Image fills container width on all screens */
    max-width: 400px;  /* Maximum width on larger screens */
}

@media (max-width: 768px) {
    .foto-1 {
        max-width: 300px;  /* Adjust for smaller screens */
    }
}